main, header{
    background-color: rgb(255, 245, 198);
}

main form ul>li{
    list-style: none;
    color: rgb(82, 149, 175);
}

form ul li>label{
    text-align: right;
    width: 100px;
    font-weight: bold;
}

header{
    margin-bottom: -8px;
}

main{
    height: 80vh;
}